/* CSS Document */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
    background: transparent;
    outline-style: none;
    font-family: Helvetica, "Microsoft YaHei", STHeiti, Tahoma;
    /*FF*/
}

body {
    line-height: 1;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline: none;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;

}

a:hover,
a:focus {
    text-decoration: none;
    /* bblr: expression(this.onFocus=this.blur()); */
    /*IE */
    outline-style: none;
    /*FF*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

/* header */
.header-page-wrapper {
    width: 100%;
    height: 60px;
    background-color: #1E90FF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.header-page-wrapper .logo {
    padding: 6px;
}

.header-page-wrapper .logo .logo-imager {
    width: 48px;
    height: 48px;
}

.header-page-wrapper .logo .logo-imager img {
    width: 48px;
    height: 48px;
}

.header-page-wrapper .logo .logo-title {
    width: 288px;
    height: 48px;
    color: #fff;
    font-size: 35px;
    font-family: serif;
    line-height: 48px;
    text-align: center;
    letter-spacing: 18px;
    background-color: #1E7FFF;
}

.header-right-nav {
    height: 100%;
    padding: 0 20px;
}

.header-right-nav li {
    margin: 0 10px;
    line-height: 60px;
}

.header-right-nav li.notice-news {
    font-size: 20px;
    color: #fff;
}

.header-right-nav li.user-info {
    color: #fff;
}

.header-right-nav li.user-info .user-name {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
}

.header-right-nav li.user-info .user-head {
    font-size: 20px;
}

/* sidebar */
.sidebar-page-wrapper {
    width: 300px;
    background-color: #fff;
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 20;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.05);
}

.sidebar-page-wrapper .scroll-sidebar {
    width: auto;
    height: 100%;
    overflow-y: auto;
}

.sidebar-page-wrapper .scroll-sidebar .sidebar-nav {
    background-color: #fff;
    padding: 15px 15px 30px;
}

.sidebar-nav ul li a {
    color: #607d8b;
    padding: 8px 35px 8px 45px;
    display: block;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.sidebar-nav ul li.active a.menu-item {
    background-color: #00b5e5;
    color: #ffffff;
}

.sidebar-nav ul.sub-menus {
    display: none;
}

.sidebar-nav ul.sub-menus.show {
    display: block;
}

.sidebar-nav ul.show li.active a.sub-menu-item {
    color: #00b5e5;
}

.sidebar-nav ul li a i:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
}

.sidebar-nav ul li a i:last-child {
    position: absolute;
    top: 10px;
    right: 16px;
}

/* content */
.page-wrapper {
    margin-left: 300px;
    margin-top: 60px;
    background-color: #fff;
    position: relative;
}

.container-fluid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* footer */
.footer {
    height: 40px;
    box-sizing: border-box;
    padding: 12px 15px;
    font-size: 12px;
    background-color: coral;
    position: fixed;
    left: 300px;
    right: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.05);
}