ul.sand-square-wrap {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    /*使被转换的子元素保留其 3D 转换*/
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateY(60deg) rotateZ(60deg);
}

ul.sand-square-wrap li {
    list-style: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 200px;
    font-size: 64px;
    font-weight: 700;
}

/*transform属性的取值
			none：定义不进行转换
			matrix(n,n,n,n,n,n)	定义 2D 转换，使用六个值的矩阵。
			matrix3d(n,n,n,n,n,n,n,n,n,n,n,n,n,n,n,n)	定义 3D 转换，使用 16 个值的 4x4 矩阵。	
		平移:translate(x,y)	translate3d(x,y,z):定义 2D 转换;定义 3D 转换。
			translateX(x) translateY(y)	translateZ(z):定义转换，只是用 X Y轴的值;定义 3D 转换，只是用 Z 轴的值。
		缩放	:scale(x,y) scale3d(x,y,z):定义 2D 缩放转换;定义 3D 缩放转换。	
			scaleX(x) scaleY(y) scaleZ(z):通过设置 X Y轴的值来定义缩放转换;通过设置 Z 轴的值来定义 3D 缩放转换。	
		旋转:rotate(angle) rotate3d(x,y,z,angle)	定义 2D 旋转，定义 3D 旋转 在参数中规定角度。		
			rotateX(angle)	rotateY(angle) rotateZ(angle)：定义沿着 X Y Z轴的 3D 旋转。
		倾斜:skew(x-angle,y-angle)	定义沿着 X 和 Y 轴的 2D 倾斜转换。
			skewX(angle) skewY(angle):定义沿着 X Y轴的 2D 倾斜转换。
		透视:perspective(n)	为 3D 转换元素定义透视视图。 */

ul.sand-square-wrap li:nth-child(1) {
    background: #f00;
    transform: translateX(-100px) rotateY(90deg);
}

ul.sand-square-wrap li:nth-child(2) {
    background: #0f0;
    transform: translateX(100px) rotateY(90deg);
}

ul.sand-square-wrap li:nth-child(3) {
    background: #00f;
    transform: translateY(-100px) rotateX(90deg);
}

ul.sand-square-wrap li:nth-child(4) {
    background: #ff0;
    transform: translateY(100px) rotateX(90deg);
}

ul.sand-square-wrap li:nth-child(5) {
    background: #f0f;
    transform: translateZ(-100px)
    /*rotateY(90deg) ;*/
}

ul.sand-square-wrap li:nth-child(6) {
    background: #0ff;
    transform: translateZ(100px)
    /*rotateY(90deg) ;*/
}